// fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

$fontSansSerif: 'Montserrat', sans-serif;

//colors 
$bgColor: #FBFEF9;
$fontColor: #191923;
$hintColor: #F39237;